# Dependencias Python
backend/.venv/
backend/venv/
venv
venv/bin/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Dependencias Node
frontend/node_modules/
frontend/dist/

# Modelos grandes (opcional: agregar si pesan mucho)
# models/*.pt

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/

# Env
.env
*.log
runs
runs/anaquel_3b_v25/weights/
.gitignore